@import '../main.less';

.tableEditor .negative input {
  color: red;
}

.tableEditor .accountEditor {
  display: flex !important;
}

.tableEditor .accountEditor label {
  flex-grow: 1;
}

.tableEditor .mn-input-suffix,
.tableEditor .mn-input-prefix {
  background-color: transparent;
}

.tableEditor .importUnchanged,
.tableEditor .importUnchanged .react-select__single-value {
  color: gray;
}

.tableEditor .importNew,
.tableEditor .importNew .react-select__single-value {
  color: green;
  font-weight: bold;
}

.tableEditor .importUpdated,
.tableEditor .importUpdated .react-select__single-value {
  color: purple;
  font-weight: bolder;
}

.tableEditor .newTag {
  font-size: xx-small;
}

.tableEditor {
  .mn-button-link {
    padding: 0;
  }
}
