@import "../main.less";

.tableEditor .negative input {
  color: red;
}

.tableEditor .accountEditor {
  display: flex !important;
}

.tableEditor .accountEditor label {
  flex-grow: 1;
}

.tableEditor .mn-input-suffix,
.tableEditor .mn-input-prefix {
  background-color: transparent;
  border: 0;
}

.tableEditor .importUnchanged {
  color: gray;
}

.tableEditor .importNew {
  color: green;
  font-weight: bold;
}

.tableEditor .importUpdated {
  color: purple;
  font-weight: bolder;
}

.tableEditor .newTag {
  font-size: xx-small;
}
