@import "../../main.less";

.mn-card {
  background-color: @card-skeleton-bg;
  border-color: 1px solid @border-color-base;
  border-radius: 15px;
  padding: 1em;

  footer {
    margin-top: 1em;
  }
}
