@import '../../main.less';

.mn-drawer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: @card-skeleton-bg;
  border: 1px solid @border-color-base;
  height: 100%;
  width: 15em;
  z-index: 99915;
  padding: 1em;

  .shadow-borders();

  @media (max-width: 600px) {
    width: 100%;
    left: 0;
    top: unset;
    height: unset;
  }
}
