@import "../../main.less";

.mn-input-container {
  display: flex;

  input {
    background-color: @table-tr1-color;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
  }
}
