@import '../../main.less';

.mn-modal {
  position: fixed;
  left: 20vw;
  top: 25vh;
  min-width: 30rem;
  max-width: 60%;
  margin: auto;
  z-index: 99915;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .close {
    padding: 0.25em 0.5em;
    cursor: pointer;
  }
}
