@import "../../main.less";

.mn-modal {
  position: fixed;
  left: 5em;
  top: 10em;
  min-width: 30rem;
  max-width: 60%;
  margin: auto;
  z-index: 1;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .close {
    padding: 0.25em 0.5em;
    cursor: pointer;
  }
}
