@import "../../main.less";

.mn-select {
  height: 24px;
  min-height: 24px;

  input,
  .react-select__single-value,
  .react-select__control,
  .react-select__input-container,
  .react-select__value-container,
  .react-select__indicator,
  .react-select__indicators,
  .react-select__indicator-separator {
    min-height: 24px;
    height: 24px;
    margin: 0;
    border-radius: 0 !important;
  }

  .react-select__menu-list,
  .react-select__indicators,
  .react-select__value-container {
    background-color: @table-tr1-color;
  }

  .react-select__single-value {
    color: @primary-color;
  }

  .react-select__indicator-separator {
    border: 0;
    background-color: transparent;
  }

}
