.mn-select input,
.mn-select__single-value,
.mn-select__control,
.mn-select__menu-list,
.mn-select__input-container,
.mn-select__value-container,
.mn-select__placeholder,
.mn-select__indicator,
.mn-select__indicators,
.mn-select__indicator-separator {
  margin: 0;
  border: 0;
  background: transparent;
  padding: 0;

  line-height: 1.5em !important;
  height: 1.5em !important;
  min-height: 1.5em !important;
  max-height: 1.5em !important;
}

.mn-select__indicator {
  padding: 0.125rem;
}

.mn-select__menu-portal,
.mn-select__menu,
.mn-select__menu-list {
  background-color: rgb(var(--bg-400));
}

.mn-select__option--is-focused {
  background-color: rgb(var(--bg-500));
}

.mn-select__single-value {
  z-index: 10;
}

.mn-select__menu-portal {
  z-index: 999999 !important;
}

.mn-select__menu,
.mn-select__menu-list {
  height: 12em !important;
  min-height: 12em !important;
  max-height: 12em !important;
}

.mn-select-changed .mn-select__single-value {
  color: #fed7aa;
}

.mn-select-new .mn-select__single-value {
  color: #bbf7d0;
}
