@import "../../main.less";

.mn-tabs {
  nav {
    display: flex;
    border-bottom: 1px solid @border-color-base;
  }

  .mn-tab-active {
    text-decoration: underline;
  }

  button:hover {
    text-decoration: underline;
  }
}
