@import '../../main.less';

.mn-tabs {
  width: 100%;

  nav {
    display: flex;
    border-bottom: 1px solid @border-color-base;
    padding: 1em;
  }

  .mn-tab-active {
    text-decoration: underline;
  }

  button:hover {
    text-decoration: underline;
  }
}
