@import "../../main.less";

.mn-text-title, .mn-text-normal { color: #eeeeee }
.mn-text-subtitle, .mn-text-secondary { color: #aaaaaa;  }
.mn-text-danger { color: red; }
.mn-text-warning { color: yellow; }
.mn-text-success { color: greenyellow; }
