@import './main.less';

body,
.mainArea,
.App {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100svh;
}

.appContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  & > header {
    background-color: @card-skeleton-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3em;
    padding-left: 1em;
    padding-right: 1em;

    h1 {
      margin: 0;
    }

    svg,
    img {
      width: 1em;
      height: 1em;
    }
  }

  & > section {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-grow: 1;
  }

  .searchArea {
    display: inline-flex;
    button {
      padding: 0;
      margin-right: 1em;
    }
  }
}

.mainArea {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.mainAreaInner {
  padding: 1em;
  overflow: hidden;
}
