body,
.mainArea,
.App {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100svh;
}

.mainArea {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.mainAreaInner {
  padding: 1em;
  overflow: auto;
}
