.App {
  text-align: center;
}

.tableEditor .ant-table-thead > tr > th,
.tableEditor .ant-table-tbody > tr > td,
.tableEditor .ant-table tfoot > tr > th,
.tableEditor .ant-table tfoot > tr > td {
  padding: 0;
}

.tableEditor .ant-select,
.tableEditor .ant-select-selector,
.tableEditor input,
.tableEditor .ant-input-number,
.tableEditor .ant-picker,
.tableEditor .ant-input-affix-wrapper {
  width: 100% !important;
  border: 0 !important;
}

.tableEditor tr:nth-child(2n) td,
.tableEditor tr:nth-child(2n) td .ant-select,
.tableEditor tr:nth-child(2n) td .ant-select-selector,
.tableEditor tr:nth-child(2n) td input,
.tableEditor tr:nth-child(2n) td .ant-input-number,
.tableEditor tr:nth-child(2n) td .ant-picker,
.tableEditor tr:nth-child(2n) td .ant-input-affix-wrapper,
.tableEditor tr:nth-child(2n) td .ant-input-group-addon {
  background-color: #f1f5fd;;
}

.tableEditor .accountEditor {
  display: flex !important;
}

.tableEditor .accountEditor label {
  flex-grow: 1;
}

.tableEditor .accountEditor span {
  padding-left: 1em;
}

.tableEditor .ant-input-group-addon {
  background-color: white;
  border: 0;
}

.tableEditor .importUnchanged,
.tableEditor .importUnchanged .ant-select-selection-item {
  color: gray;
}

.tableEditor .importNew,
.tableEditor .importNew .ant-select-selection-item {
  color: green;
  font-weight: bold;
}

.tableEditor .importUpdated,
.tableEditor .importUpdated .ant-select-selection-item {
  color: purple;
  font-weight: bolder;
}

.tableEditor .newTag {
  font-size: xx-small;
}

.tableEditor-feedback {
  position: absolute;
  top: 0.2em;
  z-index: 999;
  right: 1em;
  float: right;
}

.loadingBar-container {
  border: 1px solid #484848;
  z-index: 999999;
  position: relative;
  margin: auto auto;
  width: 60%;
  top: 20px;
}

.loadingBar-progress {
  height: 1em;
  background-color: #3462af;
}

.landing {
  text-align: left;
  padding: 1em;
}

.transactionMultiEditor > label {
  width: 50%;
  max-width: 50%;
  display: inline-flex;
}

.importArea ul {
  list-style: none;
}

.importArea div.uploadAreaEnabled,
.importArea div.uploadAreaDisabled {
  margin: 2em;
  padding: 5em;
  flex-grow: 1;
}

.uploadAreaEnabled {
  background-color: rgb(155, 189, 240);
}

.uploadAreaDisabled {
  background-color: #969696;
}

.importStarter {
  display: flex;
  max-width: 80%;
  margin: auto;
}

.importStarter .importSettings {
  max-width: 40%;
  margin: 2em;
}

.importStarter .referenceAccount .ant-select,
.importStarter .referenceAccount .ant-select-selector,
.importStarter .referenceAccount label,
.importStarter .referenceAccount input {
  width: 100%;
}