@border-radius-base: 4px;
@border-radius-status: 8px;

@primary-color: rgba(255, 255, 255, 0.75);
@secondary-color: rgba(255, 255, 255, 0.50);
@dark-color: #20202080;
@info-color: #B4E0FF;
@danger-color: #FF9E9E;
@warning-color: #FFFED2;
@success-color: #B8FFB8;

@component-background: #303030;
@body-background: #303030;
@border-color-base: #6f6c6c;
@border-color-split: #424242;
@card-skeleton-bg: #424242;

@table-tr1-color: #212224;
@table-tr2-color: #414244;

.icon {
  height: 2em;
  width: 2em;
}
