@border-radius-base: 4px;
@border-radius-status: 8px;

@primary-color: #eeeeee;
@submit-color: #599f59;
@secondary-color: #808080;
@dark-color: #20202080;
@info-color: #b4e0ff;
@danger-color: #ff9e9e;
@warning-color: #fffed2;
@success-color: #b8ffb8;

@component-background: #303030;
@body-background: #303030;
@border-color-base: #6f6c6c;
@border-color-split: #424242;
@card-skeleton-bg: #424242;

@table-tr1-color: #212224;
@table-tr2-color: #414244;

.icon-small {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

.icon {
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}

.white-space-preline {
  white-space: pre-line;
}

@font-face {
  font-family: 'PTSerif';
  src: local('PT Serif'), url('./fonts/PTSerif-Regular.ttf');
}

@font-face {
  font-family: 'PTMono';
  src: local('PT Mono'), url('./fonts/PTMono-Regular.ttf');
}

body,
input,
button {
  font-family: PTSerif, serif;
  font-size: 14px;
}

.mn-input-number {
  font-family: PTMono, mono;
}
