@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PTSerif';
    src: local('PT Serif'), url('./fonts/PTSerif-Regular.ttf');
  }

  @font-face {
    font-family: 'PTMono';
    src: local('PT Mono'), url('./fonts/PTMono-Regular.ttf');
  }

  body,
  .App {
    @apply overflow-hidden bg-background-900;

    font-size: 16px;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: yellow; }
    100% { border-color: transparent; }
  }

  .blink {
    animation: blink 1s infinite;
    border: 1px solid transparent;
  }
}
