.App {
  text-align: center;
}

.transactionRowControls {
  float: right;
}

.transactionTable  .ant-table-thead > tr > th,
.transactionTable  .ant-table-tbody > tr > td,
.transactionTable  .ant-table tfoot > tr > th,
.transactionTable  .ant-table tfoot > tr > td {
  padding: 0.2px 0.2px !important;
}

.loadingBar-container {
  border: 1px solid #484848;
  z-index: 999999;
  position: relative;
  margin: auto auto;
  width: 60%;
  top: 20px;
}

.loadingBar-progress {
  height: 1em;
  background-color: #3462AF;
}

.landing {
  text-align: left;
  padding: 1em;
}